body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(197, 167, 253);
    user-select: none;
}

.container{
    border: 2px solid rgb(43, 231, 115);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 60px;
    background: rgb(220,177,235);
    background: linear-gradient(336deg, rgba(220,177,235,1) 12%, rgba(127,174,207,1) 50%, rgba(97,255,195,1) 83%);
}

h2{
    color: #6a0374;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.jogo{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.botao-reinicar{
    width: 150px;
    background-color: #893591;
    color: #ffffff;
    margin-left: 350px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.botao-reinicar:focus{
    background-color: #0077ff;
    color: #ffffff;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-size: 50px;

    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background: #e9ac66;
    backface-visibility: hidden;
    /* opacity: 0.85; */

    transition: 0.25s;
    transform: rotateY(0deg);
}

.item.cartaAberta{
    transform: rotateY(0deg);
}

.cartaAberta::after, 
.cartaCombinada{
    transform: rotateY(180deg);
} 

